.crittercard {
  max-width: 19rem;
  /* display: inline-block; */
}

.crittercard.fish > header {
  background-color: #66ccff;
}

.crittercard.bug > header {
  background-color: #caed78;
}

.crittercard.seacreature > header {
  background-color: #66a6ff;
}

.crittercard .card-body {
  padding-top: 0;
}

.crittercard .card-body img {
  width: 128px;
  height: 128px;
  image-rendering: pixelated;
}

.critter-section-count {
  font-size: 0.5em;
  vertical-align: text-top;
}

@media (max-width: 990px) {
  .card-columns {
    column-count: 2 !important;
  }  
}

@media (min-width: 1280px) {
  .card-columns {
    column-count: 3 !important;
  }  
}

.navbar {
  background-color: cornflowerblue;
}

.footer {
  background-color: cornflowerblue;
  color: white;
  min-height: 6em;
  padding-top: 0.75em;
}

.footer a {
  color: white;
  text-decoration: none;
}

#app {
  background-color: #f1f5fd !important;
}

.container {
  background-color: white;
  border: 1px solid white;
  border-radius: 3px;
  flex: 1;
}

.clickable:hover {
  cursor: pointer;
}

.invisible {
  display: none;
}

.image-button {
  padding: 0 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  margin-right: 0.5em;
}

.image-button[aria-pressed="false"] img {
  filter: grayscale(0.9);
}

.image-button img {
  width: 2.5em;
  height: 2.5em;
  border-radius: 5px;
}
