.crittercard {
  max-width: 19rem;
}

.crittercard > .card-header {
  padding-left: 0;
  padding-right: 0;
  background-color: #eff7f1;
}

.crittercard.bug > .card-body > .crittercard-body {
  min-height: 330px;
  padding-bottom: 0 !important;
}

.crittercard-body {
  padding: 0 1.25rem 1.25rem 1.25rem !important;
}

/* Padding 0 here to prevent footer from not touching sides of card */
.crittercard .card-body {
  padding: 0;
}

.crittercard .card-body img {
  width: 128px;
  height: 128px;
  image-rendering: pixelated;
}

.card-footer {
  margin-bottom: 0;
}

.critter-section-count {
  font-size: 0.5em;
  vertical-align: text-top;
}

.crittercard-l-col {
  text-align: left !important;
  padding: 0 !important;
}

.crittercard-r-col {
  text-align: right !important;
  padding: 0 !important;
}

.crittercard-row {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.month-row {
  display: flex !important;
  justify-content: space-between !important;
}

.active-month {
  background-color: #66a6ff5d;
}

.active-time {
  background-color: #66a6ff5d;
}

.available-month {
  font-weight: bold;
}

@media (max-width: 990px) {
  .card-columns {
    column-count: 2 !important;
  }  
}

@media (min-width: 1280px) {
  .card-columns {
    column-count: 3 !important;
  }  
}

.navbar {
  background-color: #9acda3;
}

.footer {
  background-color: #9acda3;
  color: white;
  min-height: 6em;
  padding-top: 0.75em;
}

.footer a {
  color: white;
  text-decoration: none;
}

#app {
  background-color: #deefe1 !important;
  display: flex !important;
  flex-flow: column !important;
}

.content {
  display: flex !important;
  flex-direction: column !important;
  min-height: 100vh !important;
}

.container {
  background-color: white;
  border: 1px solid white;
  border-radius: 20px;
  flex: 1 !important;
}

.clickable:hover {
  cursor: pointer;
}

.invisible {
  display: none;
}

.icon-button {
  padding: 0 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  color: #2c3e50 !important;
}

.tortimer-island-icon {
  width: 25px !important;
  height: 25px !important;
  position: absolute;
  bottom: 78%;
  left: 85%;
}

.critter-button-wrapper {
  display: flex;
}

.critter-button {
  width: 4em;
  height: 4em;
  background-color: #9acda3;
  border-radius: 50%;
  margin-left: -0.3em;
  margin-right: -0.3em;
  margin-top: .7em;
  margin-bottom: .7em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.critter-button:hover {
  cursor: pointer;
  color: gold;
}

.critter-count {
  border-radius: 50%;
  background-color: gold;
  height: 1.8em;
  width: 1.8em;
}

.divider {
  margin-top: -1.5em;
  margin-bottom: 1em;
  margin-right: .5em;
  width: 85%;
  float: right;
}
